    <div *ngIf="!checkDoor" >
        <h3>
            Assess the travel path
         </h3>
  <form #f= "ngForm" class="nonInit" id="specForm" action="#">      
    <ol>
      
           <div class="form-group">
           
               <h5>  <li> Determine the height and width of the doorway in FEET</li></h5>
               <label for="travel_height">Doorway Height:</label>
               
               <input name="travel_height" [(ngModel)] = "travelDim.height" 
               pattern = '([0-9])+'
               required 
               #travel_height = 'ngModel'
               type="text" 
               class="form-control" 
                autocomplete="off">
                <div class="alert alert-danger" *ngIf='travel_height.errors?.pattern && (travel_height.touched || travel_height.dirty)'>
                    Travel height is invalid.
                </div>
                <div class="alert alert-danger" *ngIf='travel_height.errors?.required && (travel_height.touched || travel_height.dirty)'>
                    Travel height is required.
                </div>
               <label for="travel_width">Doorway Width:</label>
               <input name="travel_width"
                [(ngModel)] = "travelDim.width" 
                pattern = '([0-9])+'
                required 
                #travel_width = 'ngModel'
                type="text"
                 class="form-control"  
                 autocomplete="off">
                 <div class="alert alert-danger" *ngIf='travel_width.errors?.pattern && (travel_width.touched || travel_width.dirty)'>
                    Travel width is not a number.
                </div>
                <div class="alert alert-danger" *ngIf='travel_width.errors?.required && (travel_width.touched || travel_width.dirty)'>
                    Travel width is required.
                </div>

            </div>   
        </ol>
    <button (click)="check()" class="btn btn-primary">Next</button> 
</form> 
</div>


<div *ngIf="checkDoor" class="form-group">
    <p>
        Is there another doorway?
    </p>
    <div style="padding:5px" >
    <button (click)='yes()' class="btn btn-primary"> Yes</button> 
    </div>
    <div style="padding:5px">
    <button (click)='no()' class="btn btn-danger"> No </button>
    </div>

</div>


