/* You can add global styles to this file, and also import other style files */
@import"~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h3,h2,h1{
    text-align: center;
}

.units {
    text-decoration: underline;
    font-weight: bold;
}

.subheader {
    margin-top:15px;
}
