<div *ngIf='step == 0'>
    <label for="managerName"> Manager's name: </label>
    <input name='managerName' type="text" [formControl]='managerName'> 
    <label for="managerContact"> Manager's contact number:</label>
    <input name='managerContact' type="text" [formControl]='managerContact'>
    <button [disabled]='!(managerName.valid && managerContact.valid)' (click)="proceed()"> Next </button> 
</div>
<div *ngIf='step == 1' >
    Were you able to contact your manager?
    <button (click)='proceed()'> Yes</button>
    <button> No </button>
</div>
<div *ngIf='step == 2'>
    Please write a summary of what your manager told you
    <input name="managerResponse" type="text" [formControl]='managerResponse'>
    <button  (click)='proceed()'[disabled] ='managerResponse.valid ? false : true'> Next </button>
</div>
<div *ngIf='step == 3'>
    Were you instructed to continue or not to continue installation/removal? 
    <button (click)='proceed()'> Yes</button>
    <button> No </button>
</div>

