<div>
    <p>Please take images of
  
        <span *ngIf="needsInstallImages ||  (needsInstallImages && needsRemoveImages)">
            the installation site.
        </span> 
        <span *ngIf="needsRemoveImages && !needsInstallImages">
            the removal site.
        </span>
    </p>
</div>
<mat-divider></mat-divider>
<form [formGroup]='formGroup' (ngSubmit)='submit()'>

<div class='form-group' formArrayName='imageArray'>
    <div *ngFor= 'let control of imageArray.controls; let i= index'>

        <input type="file" accept="image/*"  capture="environment" [formControlName]= 'i' (change)='showPreview($event, i)'>
        <div  class="imagePreview" *ngIf="uriHolder[i]">
            <img style="width:400px; height: 400px;" [src]="uriHolder[i]">
         </div>
         <button type='button' *ngIf="imageArray.length > 1" (click)='removeImage(i)'> Remove image </button>
    </div>  
  <button mat-stroked-button color="primary" type='button' (click)='addImage()'> Add additional image</button>
</div>

<button mat-flat-button color="primary" type="submit"> Submit</button>
</form>

