<form #signForm="ngForm" (ngSubmit)="onSubmit(signForm)" *ngIf="init == true">
<div id= signatureDiv class="form-group">
    <problem-install></problem-install>
    <label for="customer_name">Type and sign
       <ng-container *ngIf="show == true then success; else elseBlock"></ng-container> 
       <ng-template #success >customer</ng-template>
       <ng-template #elseBlock>employee </ng-template> name: </label>  
    <input type="text" name="name" [(ngModel)]="inputName" class="form-control" id="name" style="width:inherit" autocomplete="off" required>
    <br>
    {{inputName}}
    <p>Please sign below </p>
    <label id="errorMsg"></label>
      <div id="wrapper">
       <canvas #signaturepad  width=400 height="200" style="border:1px black solid" (mouseleave)="change()" >

       </canvas> 
   </div>
   <br>
   <button (click)="clear()">Clear</button>
   <button type="submit" id="done" [disabled]="!signForm.form.valid || signatureEmpty"> Done </button>
   <br>
   <button *ngIf="show == true" (click) ="onRefuse()" >
      customer refuses to sign
   </button>
  </div>
</form>

