    <div *ngIf="!checkDoor" >
        <h3>
            Assess the travel path
        </h3>
    <mat-divider></mat-divider>
  <form #f= "ngForm" id="specForm" action="#" class='subheader'>      

        <h3 >  Determine the height and width of the
            <span class='units'>doorway</span>  
            in 
            <span class='units'> inches </span>
        </h3>
           <div class="form-group">
           <mat-form-field appearance="fill">
               <mat-label for="travel_height">Doorway Height:</mat-label>
               <input name="travel_height" [(ngModel)] = "travelDim.height" 
               matInput
               pattern ='^[+-]?((\d+(\.\d*)?)|(\.\d+))$'
               required 
               #travel_height = 'ngModel'
               type="text" 
               class="form-control" 
                autocomplete="off">
                <mat-error *ngIf='travel_height.errors?.pattern'>
                    Doorway height is not a number
                </mat-error>
                <mat-error *ngIf='travel_height.errors?.required'>
                    Doorway height is required.
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
               <mat-label for="travel_width">Doorway Width:</mat-label>
               <input name="travel_width"
               matInput
                [(ngModel)] = "travelDim.width" 
                pattern = '^[+-]?((\d+(\.\d*)?)|(\.\d+))$'
                required 
                #travel_width = 'ngModel'
                type="text"
                 class="form-control"  
                 autocomplete="off">
                 <mat-error *ngIf='travel_width.errors?.pattern'>
                    Doorway width is not a number.
                 </mat-error>
                 <mat-error *ngIf='travel_width.errors?.required'>
                    Doorway width is required.
                 </mat-error>
            </mat-form-field>
            </div>   
        
    <button [disabled]='!(f.valid)' mat-flat-button color="primary" (click)="check()" >Next</button> 
</form> 
</div>


<div *ngIf="checkDoor" class="form-group">
    <p>
        Is there another doorway?
    </p>
    <div style="padding:5px" >
    <button  mat-flat-button color="primary" (click)='yes()' > Yes</button> 
    </div>
    <div style="padding:5px">
    <button  mat-flat-button color="warn" (click)='no()'> No </button>
    </div>

</div>


